@model IQueryable<ECommerce.Models.Produit>
@{
}

<!DOCTYPE Html>
<html>
    <body>
        <p>
            <h2>Liste des produits</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Categorie</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ECommerce.Models.Produit r in Model)
                    {
                        <tr>
                            <td>@r.IDProduit</td>
                            <td>@r.Nom</td>
                            <td>@r.Description</td>
                            <td>@r.Prix €</td>
                            <td>@r.Categorie</td>
                        </tr>
                    }
                </tbody>
            </table>
    </body>
</html>
