@model ECommerce.Models.ViewModels.ListeProduitsViewModels
@{
}

<!DOCTYPE Html>
<html>
    <head>
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
<body>
    <div class="text-center jumbotron">
        <h1>Liste des produits</h1>
    </div>
    <div class="center-block container">
        <div class="table-responsive">
            <table class="table table-striped table-hover" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Categorie</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ECommerce.Models.Produit r in Model.ListeProduits)
                    {
                        <tr>
                            <td>@r.IDProduit</td>
                            <td>@r.Nom</td>
                            <td>@r.Description</td>
                            <td>@r.Prix €</td>
                            <td>@r.Categorie</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div page-model="@Model.PaginationInfos" page-action="List"></div> 
</body>

</html>
